<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.openscript.gameoflifepaper">

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true"></uses-feature>

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_game_of_life_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_game_of_life_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameOfLifePaper">
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />

        <service
            android:name=".GameOfLifeWallpaperService"
            android:enabled="true"
            android:exported="true"
            android:label="Game Of Life Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"></action>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/game_of_life_wallpaper"></meta-data>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>